<div id="<%= dom_id contact %>">
  <tr>
    
    <td>
      <strong>Name:</strong>
      <%= link_to contact.first_name + ' ' + contact.last_name, contact %>
    </td>

    <td>
      <strong>Email:</strong>
      <%= contact.email %>
    </td>

    <td>
      <strong>Phone:</strong>
      <%= contact.phone %>
    </td>

    <td>
      <strong>Instagram:</strong>
      <%= contact.instagram %>
    </td>

    <%#    <td>
      <strong>User(model):</strong>
      <%= contact.model_id %>
    </td>
 
  </tr>
</div>
